.app {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.wrapper {
    position: relative;

}

.right {
    position: absolute;
    top: 0;
    left: calc(100% + 40px);
}

.left {
    position: absolute;
    top: 0;
    right: calc(100% + 40px);
}
